main
{
    margin-top: 10%;
}

main .container
{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .ruta
{
    border-radius: 20px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: fit-content;
    margin: 0px 5%;
    text-align: center;
}

main .ruta img
{
    
    width: 50%;
}


main .ruta h1
{
    font-size: 5vw;
    margin: 2%;
}
